<app-appointments-list [title]="listTitle()">
  <mat-form-field appearance="outline" class="picker">
    <mat-label>Wybierz datę</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="pickerControl" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  @if (appointments().length > 0) {
    <app-appointments-wrapper>
      @for(appointment of appointments(); track appointment.id) {
        <app-appointment-preview [appointment]="appointment"></app-appointment-preview>
      }
    </app-appointments-wrapper>
  } @else {
    <h1 class="no-appointments">Brak wizyt w dniu {{ pickerControl.value | date: 'dd.MM.yyyy' }}</h1>
  }
</app-appointments-list>
