@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    $color-config: mat.m2-get-color-config($theme);
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');

    .styles-color-primary {
        color: mat.m2-get-color-from-palette($primary-palette);
    }

    .styles-color-accent {
        color: mat.m2-get-color-from-palette($accent-palette);
    }

    .styles-color-warn {
        color: mat.m2-get-color-from-palette($warn-palette);
    }

    .styles-background-accent {
        background-color: mat.m2-get-color-from-palette($accent-palette);
    }

    app-appointment-booking {
        .stepper {
            .mat-horizontal-stepper-wrapper {
                .mat-horizontal-stepper-header-container {
                    .mat-step-header {
                        .mat-step-label {
                            .mat-step-text-label {
                                @extend .styles-color-primary;
                            }
                        }

                        .mat-step-icon {
                            .mat-step-icon-content {
                                @extend .styles-color-accent;
                            }
                        }

                        .mat-step-icon-state-number:not(.mat-step-icon-selected) {
                            @extend .styles-background-accent;

                            .mat-step-icon-content {
                                @extend .styles-color-primary;
                            }
                        }
                    }
                }
            }
        }
    }
}
