<div class="main-container">
    <div class="content">
        <div>
            <h1 class="styles-color-primary title">Wizyta</h1>
            <h6 class="subtitle">
                identyfikator: <span class="styles-color-accent">{{ appointmentId }}</span>
            </h6>
        </div>
        <ng-container *ngIf="startsAt | cancelable">
            <div class="container">
                <button type="button" mat-raised-button color="accent" class="button" (click)="reschedule()">
                    PRZEŁÓŻ
                    <mat-icon class="icon">more_time</mat-icon>
                </button>
                <button type="button" mat-raised-button color="warn" class="button" (click)="cancel()">
                    ODWOŁAJ
                    <mat-icon class="icon">cancel</mat-icon>
                </button>
            </div>
        </ng-container>
    </div>
    <ng-content></ng-content>
</div>
