<ng-container *ngIf="question">
    <article class="main-container" [formGroup]="response">
        <div class="question-container">
            <p class="question">{{ question.question }}</p>
            <ng-container *ngIf="subQuestion && response.controls['positive'].value">
                <mat-form-field appearance="outline">
                    <mat-label>{{ subQuestion }}</mat-label>
                    <textarea
                        matInput
                        type="text"
                        [placeholder]="subQuestion"
                        [formControl]="response.controls['detail']"
                    >
                    </textarea>
                </mat-form-field>
            </ng-container>
        </div>
        <mat-radio-group [formControl]="response.controls['positive']">
            <mat-radio-button [value]="true" (click)="handlePositiveSelection()">TAK</mat-radio-button>
            <mat-radio-button [value]="false" (click)="handleNegativeSelection()">NIE</mat-radio-button>
        </mat-radio-group>
    </article>
</ng-container>
