<section class="main-container">
    <h1 class="styles-color-primary title">Opowiedz o swoim stanie zdrowia</h1>
    <ng-container *ngFor="let question of questions">
        <ng-container *ngIf="!question.womenOnly">
            <app-health-question
                [question]="question"
                (positive)="store($event)"
                (negative)="remove($event)"
                (update)="update($event)"
            ></app-health-question>
        </ng-container>
    </ng-container>
    <mat-slide-toggle
        color="primary"
        [formControl]="isWomen"
        class="women-switch"
        [ngClass]="{ 'styles-color-primary': isWomen.value }"
    >
        Jestem kobietą
    </mat-slide-toggle>
    <ng-container *ngIf="isWomen.value">
        <ng-container *ngFor="let question of questions">
            <ng-container *ngIf="question.womenOnly">
                <app-health-question
                    [question]="question"
                    (positive)="store($event)"
                    (negative)="remove($event)"
                    (update)="update($event)"
                ></app-health-question>
            </ng-container>
        </ng-container>
    </ng-container>
</section>
