<table mat-table [dataSource]="dataSource" class="main">
    <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column.property">
            <th mat-header-cell *matHeaderCellDef class="styles-color-primary">{{ column.label | uppercase }}</th>
            <td mat-cell *matCellDef="let item">{{ item[column.property] }}</td>
        </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns | rowDefinition"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns | rowDefinition"></tr>
</table>
