<ng-container *ngIf="preview">
    <app-appointment
        [appointmentId]="preview.id"
        [startsAt]="preview.startsAt"
        (cancelAppointment)="cancelAppointment()"
        [length]="length"
    >
        <div class="content">
            <app-card title="Data wizyty" icon="calendar_month" class="card">
                <h1 class="date">{{ preview.startsAt | date: 'dd.MM.yyyy' }}</h1>
                <h2 class="time">
                    {{ preview.startsAt | date: 'HH:mm' }}
                    - {{ preview.startsAt | endDate: length | date: 'HH:mm' }}
                </h2>
                <h3 class="time">{{ length }} minut</h3>
            </app-card>
            <app-card title="Usługi" icon="medical_services" class="card">
                <app-services-table [dataSource]="dataSource"></app-services-table>
            </app-card>
            <app-card title="Szacowana cena wizyty" icon="payments" class="card">
                <h1 class="styles-color-warn price">{{ dataSource | price }} PLN</h1>
            </app-card>
        </div>
        <ng-container *ngIf="isAdmin">
            <div class="content user-section">
                <ng-container *ngIf="preview.user as user">
                    <app-card title="Pacjent(ka)" icon="photo_camera">
                        <img [src]="user.photoUrl" [alt]="user.id" crossorigin="anonymous" class="avatar" />
                    </app-card>
                    <app-card title="Dane osobowe" icon="person" class="card">
                        <h1 class="text">{{ preview.user.name }} {{ preview.user.surname }}</h1>
                        <a [href]="preview.user.email | email" class="email-wrapper">
                            <h2 class="text email">{{ preview.user.email }}</h2>
                        </a>
                    </app-card>
                </ng-container>
                <app-card title="Stan zdrowia" icon="medical_information" class="card">
                    <ng-container *ngFor="let fact of preview.facts">
                        <h1 class="text">{{ fact.value }}</h1>
                        <ng-container *ngIf="fact.healthSurvey.additionalInfo as additionalInfo">
                            <h2 class="text">{{ additionalInfo }}</h2>
                        </ng-container>
                    </ng-container>
                </app-card>
            </div>
        </ng-container>
    </app-appointment>
</ng-container>
