@use '@angular/material' as mat;

.main-container {
    $dimension: 100px;

    height: $dimension;
    width: $dimension;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mat.m2-get-color-from-palette(mat.$m2-gray-palette, 50);
    &:hover {
        transform: scale(1.1);
    }
}

.not-selected {
    opacity: 37.5%;
}
