@if (userProfile()) {
  <section class="main-container">
    <h1 class="styles-color-primary title">Oto podsumowanie Twojej wizyty</h1>
    <section class="content-wrapper">
      <ng-container *ngIf="facts() as facts">
        <div class="content-container">
          <app-card title="Stan zdrowia" icon="medical_information">
            @for (fact of facts; track $index) {
              <h3 class="card-content">{{ fact }}</h3>
            }
          </app-card>
        </div>
      </ng-container>
      <div class="content-container">
        <app-card title="Pacjent(ka)" icon="person">
          <h3 class="card-content">{{ userProfile()?.firstName }} {{ userProfile()?.lastName }}</h3>
          <h4 class="card-content">{{ userProfile()?.email }}</h4>
        </app-card>
        <app-card title="Zakres leczenia" icon="medical_services">
          <lib-services-table [dataSource]="priceItems"></lib-services-table>
        </app-card>
      </div>
      <div class="content-container">
        <app-card title="Termin wizyty" icon="event_available">
          <h3 class="card-content">{{ selectedDate$ | async | date: 'dd.MM.yyyy' }} r.</h3>
          <h4 class="card-content">
            {{ selectedDate$ | async | date: 'HH:mm' }} - {{ endsAt | date: 'HH:mm' }}
          </h4>
        </app-card>
        <app-card title="Szacowana cena wizyty" icon="payments">
          <h3 class="styles-color-warn card-content">{{ priceItems | price }} PLN</h3>
        </app-card>
      </div>
    </section>
  </section>
}
