.main {
    display: flex;
    justify-content: flex-start;
    cursor: default;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.title {
    $dimension: 58px;

    font-weight: 700;
    font-size: $dimension - 10px;
    line-height: $dimension;
    margin-bottom: 0;
}
