<ng-container *ngIf="appointment">
    <app-appointment
        [appointmentId]="appointment.id"
        [startsAt]="appointment.startsAt"
        (cancelAppointment)="handleCancel()"
        [length]="length"
    >
        <div class="content">
            <app-card title="Data wizyty" icon="calendar_month" class="card">
                <h1 class="date">{{ appointment.startsAt | date: 'dd.MM.yyyy' }}</h1>
                <h2 class="time">
                    {{ appointment.startsAt | date: 'HH:mm' }}
                    - {{ appointment.startsAt | endDate: length | date: 'HH:mm' }}
                </h2>
                <h3 class="time">{{ length }} minut</h3>
            </app-card>
            <app-card title="Usługi" icon="medical_services" class="card">
                <app-services-table [dataSource]="dataSource"></app-services-table>
            </app-card>
            <app-card title="Szacowana cena wizyty" icon="payments" class="card">
                <h1 class="styles-color-warn price">{{ dataSource | price }} PLN</h1>
            </app-card>
        </div>
        <div class="content user-section">
            <app-card title="Pacjent(ka)" icon="photo_camera">
                <img
                    [src]="appointment.user.photoUrl"
                    [alt]="appointment.user.id"
                    crossorigin="anonymous"
                    class="avatar"
                />
            </app-card>
            <app-card title="Dane osobowe" icon="person" class="card">
                <h1 class="text">{{ appointment.user.name }} {{ appointment.user.surname }}</h1>
                <a [href]="appointment.user.email | email" class="email-wrapper">
                    <h2 class="text email">{{ appointment.user.email }}</h2>
                </a>
            </app-card>
            <app-card title="Stan zdrowia" icon="medical_information" class="card">
                <ng-container *ngFor="let fact of appointment.facts">
                    <h1 class="text">{{ fact.value }}</h1>
                    <ng-container *ngIf="fact.healthSurvey.additionalInfo as additionalInfo">
                        <h2 class="text">{{ additionalInfo }}</h2>
                    </ng-container>
                </ng-container>
            </app-card>
        </div>
    </app-appointment>
</ng-container>
