<section class="main-container" (click)="handleClick()">
    <h1 class="styles-color-primary title" (click)="ignoreClick($event)">Wybierz termin wizyty</h1>
    <p class="estimated-length" (click)="ignoreClick($event)">
        Szacowana długość wizyty to <span class="styles-color-accent">{{ appointmentLength }} min</span>
    </p>
    <h2 class="subtitle" (click)="ignoreClick($event)">
        Dostępne terminy w dniu {{ currentWorkday | date: 'dd.MM.yyyy' }}
    </h2>
    <div class="time-cards-container">
        <ng-container *ngFor="let date of availableTimes">
            <app-time-card [date]="date"></app-time-card>
        </ng-container>
    </div>
    <div class="buttons-container" (click)="ignoreClick($event)">
        <button
            mat-raised-button
            color="accent"
            (click)="handlePreviousWorkday()"
            class="button"
            [disabled]="isPreviousWorkdayDisabled"
            type="button"
        >
            Terminy w dniu {{ previousWorkday | date: 'dd.MM.yyyy' }}
        </button>
        <button mat-raised-button color="primary" (click)="handleNextWorkday()" class="button" type="button">
            Terminy w dniu {{ nextWorkday | date: 'dd.MM.yyyy' }}
        </button>
    </div>
</section>
