<nav
  class="main-container"
  [ngClass]="{
        'styles-background-accent': isAuthenticated(),
        shadow: isAuthenticated(),
        authenticated: isAuthenticated()
    }"
>
  <div class="logo-container">
    <img
      ngSrc="favicon.svg"
      alt="logo"
      class="logo-item"
      [routerLink]="logoUrl()"
      height="48"
      width="48"
    />
    <h1 class="logo-item app-name styles-color-primary" [routerLink]="logoUrl()">
      Dentist Appointment Booking
    </h1>
  </div>
  @if (isAuthenticated()) {
    <div class="user-container">
      @if (false) {
        <div class="nav-container">
          <button mat-button color="primary" class="nav-button" routerLink="/admin/appointments">
            WIZYTY
          </button>
          <button mat-button color="primary" class="nav-button" routerLink="/admin/price-list">CENNIK</button>
        </div>
      } @else {
        <div class="nav-container">
          <button
            mat-raised-button
            color="primary"
            class="nav-button"
            routerLink="/appointment-booking"
          >
            UMÓW WIZYTYĘ
          </button>
          <button mat-button color="primary" class="nav-button" routerLink="/client/appointments">
            MOJE WIZYTY
          </button>
        </div>
      }
      <div class="profile-container">
        <span class="styles-color-primary user-name">{{ profile()?.firstName }}</span>
        <img [src]="profile()?.photoUrl" [alt]="profile()?.firstName" crossorigin="anonymous" class="avatar" />
        <button mat-icon-button color="primary" (click)="initiateSignOut()">
          <mat-icon id="sign-out-icon" class="button-base sign-out-icon">logout</mat-icon>
        </button>
      </div>
    </div>
  }
</nav>
